:root {
	/* Major Third type scale*/
	--fnt__max: 3.052rem; /* h1 */
	--fnt__xxl: 2.441rem; /* h2 */
	--fnt__xlg: 1.953rem; /* h3 */
	--fnt__lrg: 1.563rem; /* h4 */
	--fnt__med:  1.25rem; /* h5 */
	--fnt__reg:     1rem; /* h6,p,...etc */
	--fnt__sml:   0.8rem; /* sup,sub,small */
	--fnt__xsm:  0.64rem; /* ?? */
	--fnt__xxs: 0.512rem; /* ?? */
	--fnt__min:  0.41rem; /* ?? */
	--background-col: #eee;
	--nav-background-col: #FFEFBA;
}


html {
	font-size: clamp(1rem, 1rem + 2vw, 24px);
}

body {
	background: var(--background-col);
	margin: 0;
}

body > * {
	padding: 0 1rem;
}

.fnt__max,
h1 {
	font-size: var(--fnt__max);
}

.fnt__xxl,
h2 {
	font-size: var(--fnt__xxl);
}

.fnt__xlg,
h3 {
	font-size: var(--fnt__xlg);
}

.fnt__lrg,
h4 {
	font-size: var(--fnt__lrg);
}

.fnt__med,
h5 {
	font-size: var(--fnt__med);
}

.fnt__reg,
h6 {
	font-size: var(--fnt__reg);
}

.fnt__sml,
sub,
sup,
small {
	font-size: var(--fnt__sml);
}

.fnt__xsm {
	font-size: var(--fnt__xsm);
}

.fnt__xxs {
	font-size: var(--fnt__xxs);	
}

.fnt__min {
	font-size: var(--fnt__min);	
}


/* Site Layout */

.skip-link {
	position: absolute;
	right: 100%;
	top: 0;
	z-index: 100;
	background: var(--nav-background-col);
	padding: 1rem;
}

.skip-link:focus {
	transform: translateX(100%);
}

.wrapper {
	flex: 1 auto;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.site-header {
	display: flex;
	position: fixed;
	padding: 0;
	top: 0;
	right: 0;
	left: 0;
	background: var(--background-col);
}
.site-header + * {
	margin-top: calc(var(--fnt__max) + 0.5rem);
}

.site-header__content {
	display: grid;
	grid-template-columns: 1rem [logo-start] 5rem [logo-end] 1fr [nav-start] 10fr [nav-end] 1rem;
	background: var(--nav-background-col);  /* fallback for old browsers */
}

.site-header__logo {
	grid-area: logo;
	display: flex;
	place-items: center;
	text-decoration: none;
	font-size: var(--fnt__max);
}

.site-header__nav {
	grid-area: nav;
	position: relative;
}

.site-header__nav > .wrapper {
	display: flex;
	place-items: center;
}

.site-header, .nav__list, .sub__list {
	display: flex;
	justify-content: stretch;
	margin: 0;
}

.site-header__nav ul {
	--li__margin: 0 0 0 0.5rem;
	--li__padding: 0 0.5rem;
	padding: 0.5rem;
	list-style-type: none;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

ul > li {
	margin: var(--li__margin);
	padding: var(--li__padding); 
	display: flex;
}

ul > li:first-child {
	--li__margin: 0;
}

li > a, .sub__list > div > span > a {
	flex: 1 auto;
	padding: 0 1rem;
	display: flex;
	justify-content: flex-end;
}

.sub__list {
	flex-direction: column;
}
.sub__list > div, .sub__list > div > span {
	display: flex;
}

.nav__list > li.sub__list {
	position: relative;
}
.sub__list > ul {
	visibility: hidden;
	transform-origin: top;
	transform: scaleY(0);
	transition: transform 300ms ease-in-out;
	position: absolute;
	top: 100%;
	right: 0;
	background: var(--nav-background-col); 
}

.sub__list > ul > li, .sub__list > ul > li:first-of-type  {
	--li__margin: 0.5rem 0 0 0;
}

.sub__list:hover > ul, .sub__list:focus-within > ul {
	visibility: visible;
	flex-direction: column;
	transform: scaleY(1);
	transition: transform 300ms ease-in-out;
}

.hamburger__checkbox {
	width: 1.00rem;
	height: 1.00rem;
	opacity: 0;
	display: none;
}

.hamburger__checkbox, .hamburger-icon {
	display: none;
	cursor: pointer;
	position: absolute;
	right: 1.5rem;
	top: 0.5rem;
}

@media only screen and (max-width: 900px) {	
	:root {
		/* Major Third type scale*/
		--fnt__max: 1.900rem; /* h1 */
		--fnt__xxl: 1.670rem; /* h2 */
		--fnt__xlg: 1.550rem; /* h3 */
		--fnt__lrg: 1.300rem; /* h4 */
		--fnt__med:  1.15rem; /* h5 */
		--fnt__reg:     1rem; /* h6,p,...etc */
		--fnt__sml:   0.8rem; /* sup,sub,small */
		--fnt__xsm:  0.64rem; /* ?? */
		--fnt__xxs: 0.512rem; /* ?? */
		--fnt__min:  0.41rem; /* ?? */
	}

	.site-header__content {
		grid-template-columns: 1rem [logo-start] 2.5rem [logo-end] 0.25rem [nav-start] 1fr [nav-end] 0rem;
	}

	.hamburger__checkbox, .hamburger-icon {
		display: unset;
		-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
		margin: 0;
		line-height: 1;
	}


	.hamburger-icon {
		display: inline-block;
		width: 24px;
		height: 24px;
		fill: CurrentColor;
	}

	.hamburger__checkbox:hover ~ .hamburger-icon > svg,
	.hamburger__checkbox:focus ~ .hamburger-icon > svg {
		transform: scale(1.2);
		outline: 1px solid #000;
		transition: transform 200ms ease-in-out 50ms;
	}

	.hamburger-icon {
		transition: transform 200ms ease-in-out 100ms;
	}

	.hamburger__checkbox:not(:checked):hover ~ .hamburger-icon:before,
	.hamburger__checkbox:not(:checked):focus ~ .hamburger-icon:before {
		transform: scaleX(0.05);
	}	

	.hamburger__checkbox ~ .hamburger-icon:before {
		content: '';
		position: fixed;
		height: 100vh;
		width: 100vw;
		transform: scaleX(0);
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		backdrop-filter: blur(1px);
		background: var(--nav-background-col);  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, transparent, #FFEFBA 20%);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, transparent, #FFEFBA 20%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		transition: transform 300ms ease-in-out;
		transform-origin: right;
	}
	.site-header__nav:focus-within .hamburger__checkbox:checked ~ .hamburger-icon:before {
		/*handle click outside of menu*/
		transform: scaleX(1);
		transition: transform 300ms ease-in-out;
	}

	.hamburger__checkbox:checked ~ .hamburger-icon > svg {
		transform:  scale(1.2) rotate(-90deg);
		transition: transform 200ms ease-in-out 50ms;
	}

	.nav__list {
		--li__margin: 0.5rem 0 0 0;
		--li__padding: 0.5rem 0;
		flex-direction: column;
		position: fixed;
		top: calc(2rem + 8px);
		right: 0;
		left: 0;
	}

	.sub__list > ul {
		left: -4px;
		width: 100%;	
		background: -webkit-linear-gradient(to right, transparent, var(--nav-background-col) 20%);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, transparent, var(--nav-background-col) 20%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	.hamburger__checkbox ~ .nav__list {
		transform: scaleY(0);
		transition: transform 300ms ease-in-out;
		transform-origin: top;
	}

	.hamburger__checkbox ~ .nav__list > * {
		visibility: hidden;
	}

	.site-header__nav:focus-within .hamburger__checkbox:checked ~ .nav__list {
		transition: transform 300ms ease-in-out;
		transform: scaleY(1);
	} 

	.site-header__nav:focus-within .hamburger__checkbox:checked ~ .nav__list > * {
		visibility: unset;
	}
}
