<div id="hours" class="container full-bleed" tabindex="-1">
<div class="wrapper">
<table class="hours-of-operations full-width">
<tbody>
<tr class="fnt__lrg">
	<th role="heading" colspan="2">We are open...</th>
</tr>
{% for day in ops.open %}
<tr class="fnt__med">
<td>
	{{day.name}}
</td>
{% if day.hours.open %}
<td>
	{{day.hours.open}} - {{day.hours.close}}
</td>
{% else %}
<td>Closed</td>
{% endif %}
</tr>
{% endfor %}
</tbody>
</table>
<div class="reservations">
{% if ops.reservations %}	
TODO: SHOW RESERVATION WIDGET
{% else %}
<p>
We are not currently taking reservations. Please join us on a walk-in basis.
</p>
{% endif %}
</div>
</div>
</div>
